<html>
<head>
<style>
.center {
    transform: translateY(100%);
}

.round {
    width: 50%;
    border-radius: 15px;
    border: 1px #000 solid;
    transform: translateY(550%);
    font-size: 25px;
    box-sizing: border-box;
}
</style>
</head>
<body>

<div>
    <center>
        <form action="/search" method="GET">
            <input width="200" type="file" id="query" name="query"><br><br> 
            <input type="submit">
        </form>
    </center>
</div>


</body>
